<!-- Contenu -->
<div class="container">
    <div id="alertMsg">
        <p>
            {{ message }}
        </p>
    </div>
    <div id="home">
        <app-article *ngFor="let element of liste" [titreArticle]="element.titreArticle"
            [prixArticle]="element.prixArticle" [description]="element.description" [urlImg]="element.urlImg"
            [textAltImg]="element.textAltImg" [dispo]="element.dispo" [idArticle]="element.id"
            (info)="onAffiche($event)"></app-article>
    </div>
</div>